.ticket_card:before{
    content:'';
    position:absolute;
    left:0; top:0;
    width:15px;
    height:100%;
    background:gray;
    border-radius:5px 0 0 5px;
    box-shadow:8px 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.ticket_card.urgent:before{
    background:red;
}
.ticket_card.hurry:before{
    background:orange;
}
